* {
    margin: 0;
    padding: 0;
    cursor: default;
    text-transform: capitalize;
    scroll-behavior: smooth;
    color: var(--main_text_color);

    font-family: poppins;
    /* font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */

}

::-webkit-scrollbar {
    width: 2px;
}

a {
    text-decoration: none;
}


/* night mode */

.light-mode {
    --main_text_color: #c4c2c2;
    --pri_text_color: white;

    --hover_color: #0085ff;

    --pri_color: #0556a1;
    --pri_color_opac: #1b8bf336;

    --background_color: #2d2d2d;
    --botom_back_color: #f0f0f00f;

    --container_op: 0.2;
    --icon_in: #c4c2c2;
    --icon_color: #0556a1;
    --icon_hover_color: #0085ff;

    transition: background-color 0.5s ease, color 0.5s ease;
}

/* light mode */

.night-mode {
    --main_text_color: #45505b;
    --pri_text_color: white;

    --hover_color: #094985;

    --pri_color: #0563bb;
    --pri_color_opac: #1b8bf336;

    --background_color: #fbfbfb;
    --botom_back_color: #f0f0f099;

    --icon_color: #2d2d2d;
    --icon_in: #fffffffb;
    --icon_hover_color: #616060;

    --container_op: 0.4;

    transition: background-color 0.5s ease, color 0.5s ease;
}



body {
    overflow-x: hidden;
    background-color: var(--background_color);
}




.container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    background-image: url(../pics/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: var(--container_op);
}

.container_in {
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /* Enable vertical scrolling */
    height: 100vh;
    /* Set a fixed height for the container */
}

.container_in section {
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
}



/* --------side bar------ */

.side_in {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    /* background-color: red; */
    height: 50%;
    width: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--pri_color);
    width: 50px;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.5s ease-out;
}

.tab:hover {
    width: 130px;
    background-color: var(--hover_color);
}

.icon {
    width: 50px;
    height: 50px;
    background-color: var(--pri_color);
    border-radius: 50%;
}

.juu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.juu span {
    color: var(--pri_text_color);
}

.icon_name {
    margin-left: 6px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.icon_name label {
    color: var(--pri_text_color);
}

/* --------side bar end------ */


/* ----mode section----- */

.mode_out {
    position: fixed;
    top: 50px;
    right: 80px;

    z-index: 2;

}

.mode_in {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
    background-color: var(--icon_color);
}

.mode_in:hover {
    transform: scale(1.1);
    background-color: var(--icon_hover_color);
}

.sun {
    display: none;
}

.mode_in span {
    color: var(--icon_in);
}


/* ----mode section end----- */


/* ---section home- */

.top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.top_in {
    width: 50%;
    height: 45%;
    margin-left: 17%;
}

.top_in h1 {
    font-size: 80px;
    font-weight: 700;
}

.top_in label {
    font-size: 26px;
    font-weight: 500;
}

.dev_span {
    color: var(--pri_color);
}


.social {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.social_icon_out {
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icon {
    width: 40px;
    height: 40px;
    background-color: var(--pri_color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.social_icon:hover {
    transform: scale(1.1);
    background-color: var(--hover_color);
}



/* ---section home end - */


/* ---section about - */
.about_div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.line_out {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 85px;
    height: 1px;
    background-color: var(--main_text_color);
}

.line_in {
    position: absolute;
    border: 3px var(--pri_color) solid;
    width: 20px;
}

.detail {
    text-align: left;
}

.detail_2,
.detail {
    width: 70%;
    margin-top: 20px;
}

.detail_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail_2_pic {
    width: 37%;
    height: 100%;
}

.detail_2_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* background-image: url(../pics/pic.jpg);
    background-position: center;
    background-size: cover;*/
}

.detail_2_word {
    width: 60%;
    height: 100%;
}

.cv_head
{
    width: 100%;
    text-align: center;
    /* background-color: red; */
    margin-top: 30px;
}

.cv_head:first-child
{
    margin-top: 0;
}
.cv_detail
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cv_left
{
    width: 40%;
    text-align: right;
}
.cv_right
{
    width: 40%;
}


/* ---section about end - */



/* ---section services - */

.services_div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cut {
    height: 10%;
    justify-content: flex-end;

}

.head {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cut_2 {
    height: 13%;
    /* background-color: red; */
}

.serv_detail {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.serv_card {
    /* background-color: #0563bb; */
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(0px);
    transition: 0.5s ease-in;
}

.serv_card:hover {
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.2);
    background-color: #d0dfef23;
    backdrop-filter: blur(8px);
}

.serv_logo {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buble {
    background-color: var(--pri_color);
    /* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
    /* background-color: red; */
    padding: 20px;
    border-radius: 30% 70% 70% 30% / 37% 44% 56% 63%;
    /* animation: morphing infinite; */
    animation: morphing 8s ease-in 0s infinite normal both;
    transition: 0.5s ease-in;
}

.buble:hover {
    background-color: var(--hover_color);
}

.serv_logo img {
    width: 50px;
}

.serv_word {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #0563bb; */
    /* align-items: center; */
}


/* ---section services end - */



/* ---section contact  - */


.contact_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.cont {
    display: flex;
    flex-direction: column;
    /* background-color: #0563bb; */
    width: 70%;
    height: 45%;
}

.cont_div {
    width: 50%;
    display: flex;
    align-items: center;
    height: 70px;
    margin-top: 20px;
    /* background-color: red; */
}

.cont_icon {
    width: 40px;
    height: 40px;
    background-color: var(--pri_color_opac);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cont_name {
    margin-left: 5px;
}

.cont_name label {
    font-size: 14px;
}

.cont_icon .cont_icon_svg {
    color: var(--pri_color);
}

.botom {
    width: 100%;
    height: 30%;
    background-color: var(--botom_back_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cp:first-child {
    margin-top: 10px;
}

.botom .cp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #0563bb; */
}


.botom h3 {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
}

.copyright,
.credits {
    font-size: 13px;
}


/* ---section contact end - */



@media (max-width: 768px) {

    .side_in {
        display: none;
    }

    .mode_out {
        position: fixed;
        top: 20px;
        right: 20px;

        z-index: 2;

    }

    .web_inweb {
        width: 90%;
    }

    .container::before {
        background-image: url(../pics/back_phone2.jpg);

    }

    .top_in {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin: 17px;
    }

    .top_in h1 {
        font-size: 40px;
    }

    .container_in section {
        scroll-snap-align: unset;
        height: auto;
        width: 100%;
    }


    .top {
        height: 88vh;
    }

    .social {
        margin-top: 15px;
    }

    .detail {
        text-align: center;
    }

    .about_div,
    .services_div,
    .contact_div {
        height: auto;
        margin-top: 50px;
    }

    .detail_2,
    .detail {
        width: 95%;
    }

    .detail_2 {
        flex-direction: column;
    }

    .detail_2_pic {
        width: 90%;
    }

    .detail_2_word {
        margin-top: 10px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul {
        width: 100%;
    }

    .serv_detail {
        width: 100%;
        flex-direction: column;
    }

    .serv_card {
        width: 80%;
        height: 300px;
        margin-top: 20px;
        box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.2);
        background-color: #d0dfef23;

    }

    .serv_word {
        padding: 20px;
    }

    .cont {
        width: 80%;
    }

    .cont_div {
        width: 100%;
    }

    .botom {
        margin-top: 30px;
        height: 180px;
    }

    /* 
    .botom h3
    {
        font-size: 30px;
    } */
    .botom p {
        text-align: center;
        width: 80%;
        font-size: 12px;
    }

    .copyright,
    .credits {
        font-size: 10px;
    }

    

}